@import "./_variables.scss";

body {
    margin: 0px;
}

section {
    padding: 60px 0px;
}

.btn-primary {
    padding: 8px 24px;
    border-radius: 4px;
    background-color: $color1;
    color: #ffffff;
    border: 0px;
    text-align: center;
    text-decoration: none;
    transition: .2s ease-in-out all;

    &.-secondary {
        background-color: $color2;
    }
}